.container {
    margin: 32px;
    font-family: Roboto, sans-serif;
    font-size: 18px;
}

.uppercase {
    word-spacing: 20px;
    text-align: center;
    text-transform: uppercase;
}

.paragraph {
    line-height: 28px;
}

.boldSpan {
    font-weight: 900;
    letter-spacing: 3px;
    font-size: 24px;
    opacity: 80%;
    text-decoration: underline;
}

a {
    text-decoration: none;
}

.italic {
    color: grey;
}