.login-form {
    margin: 32px;
}

input,
textarea,
select,
button,
.languages {
    display: block;
    margin: 8px;
}

.languages input {
    display: inline-block;
    margin: 0;
}

input[type="checkbox"] {
    margin-bottom: 14px;
}