$text-color: #2b292d;
$text-color-green: #009b4d;
$text-color-light-gray: #2b292d99;
$text-color-red: #F1592B;

$color-pink: #FCF0E366;
$color-white: #fff;
$color-blue: #0185D0;
$color-black: #000000;
$color-dark-blue: #0189D1;
$color-light-blue: #00A1C612;
$color-feadback-blue: #3142C5;


$color-line: #00000019;
$color-border-vacancy: #2b292d33;
$color-user-card: #3141C5;
$color-order-background: #F4F5F7;