* {
    box-sizing: border-box;
}

.header {
    background-color: darkturquoise;
    height: 40px;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1;
    line-height: 40px;
}

.navigation {
    height: 40px;
}

.nav-list {
    margin: 0px;
    display: flex;
}

.nav-item {
    display: inline-block;
    margin-left: 16px;
    color: white;
}

.content {
    background-color: beige;
    height: 5000px;
    position: relative;
}

.head {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    margin-top: 50%;
    margin-left: calc(50% - 100px);
}

.ear {
    position: absolute;
    width: 40px;
    height: 60px;
    background-color: brown;
}

.ear_right {
    margin-top: -60px;
    margin-left: 200px;
}

.ear_left {
    margin-top: -60px;
    margin-left: -40px;
}

.eye {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: grey;
    margin-top: 80px;
}

.eye_left {
    margin-left: 40px;
}

.eye_right {
    margin-left: 130px;
}